baseURL = 'https://istros.eu/'
languageCode = 'en-us'
title = 'Spoločnosť priateľov Cypru a Grécka na Slovensku'
theme = 'ananke'

[params]
  description = "Spoločnosť priateľov Cypru a Grécka na Slovensku"
  author = "istros.eu"
  favicon = ""
  site_logo = ""
  background_color_class = "bg-black"
  recent_posts_number = 3

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 2
  
  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 3